<% if @follower_suggestions.empty? %>
  No suggestions for you
<% end %>

<% @follower_suggestions.each do |user| %>
  <div class="recommended-follower">
    <div class="row">
      <div class="col-sm-3 col-lg-2">
        <%= link_to (image_tag user.image.small_thumb.url, width: "40px", class: "img-circle"), profile_path(user.username) %>
      </div>
      <div class="col-sm-9 col-lg-10">
        <%= form_tag follow_user_path, method: :post, class: "float-right" do %>
          <%= hidden_field_tag :follow_id, user.id %>
          <%= submit_tag "Follow", class: "link-button small" %>
        <% end %>

        <%= link_to user.username, profile_path(user.username), class: "text-dark font-weight-bold" %>
        <!-- TODO -->
        <p class="text-muted small"><%= user.created_at > 2.days.ago ? "New to Instagram" : "Followed by X users" %></p>
      </div>
    </div>
  </div>
<% end %>
