<div class="container">
  <div class="row">
    <div class="col-8">
      <% @posts.each do |post| %>
        <div class="insta-post">
          <div class="post-meta">
            <%= link_to (image_tag post.user.image.thumb.url, class: "img-circle"), profile_path(post.user.username) %>
            <%= link_to post.user.username, profile_path(post.user.username), class: "text-dark" %>
          </div>

          <%= image_tag post.image.url, class: "img img-fluid wrap-img" %>

          <div class="post-details">
            <p><strong><%= post.total_likes %> likes</strong></p>
            <% if post.description.present? %>
              <p><strong><%= link_to post.user.username, profile_path(post.user.username), class: "text-dark" %></strong></p>
              <%= simple_format post.description %>
            <% end %>

            <p class="text-muted"><%= time_ago_in_words post.created_at %> ago</p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-4">
      <div class="user-summary">
        <p><strong><%= current_user.username %></strong><br />
        <%= current_user.full_name %></p>
      </div>
      <div class="follower-suggestions">

      </div>
    </div>
  </div>
</div>
