<div class="container">
  <div class="row">
    <div class="col-4">
      <%= image_tag @user.image.profile_thumb.url, width: "250px", class: "img-circle" %>
    </div>

    <div class="col-8 text-left">
      <div class="row">
        <div class="col-6">
          <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-light btn-custom float-right mt-4" if can_edit_profile?(@user.id)%>
          <h1><%= @user.username %></h1>
        </div>
      </div>

      <div class="row profile-stats">
        <div class="col-4">
          <strong><%= @user.posts.count %></strong> <%= 'post'.pluralize(@user.posts.count) %>
        </div>
        <div class="col-4">
          <strong><%= @user.total_followers %></strong> <%= 'follower'.pluralize(@user.total_followers) %>
        </div>
        <div class="col-4">
          <strong><%= @user.total_following %></strong> following
        </div>
      </div>

      <p><%= @user.full_name %></p>
      <div class="message">
        <%= simple_format @user.description %>
      </div>
      <p>
        <% if @user.website.present? %>
          <a href="https://<%= trim_url @user.website %>"><%= trim_url @user.website %></a>
        <% end %>
      </p>
    </div>
  </div>

  <div class="row profile-posts">
    <% @posts.each do |post| %>
      <div class="col-4">
        <div class="insta-post post-square" style="background: url(<%= post.image.url %>) no-repeat center top">
          <%= link_to post_path(post) do %>
            <div class="post-stats">
              <div class="inner">
                <i class="fa fa-heart"> <%= post.total_likes_count %></i>
                <i class="fa fa-comment m-l-15"> <%= post.total_comments_count %></i>
              </div>
            </div>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
