<div class="row">
  <div class="col-5 offset-3">
    <h2 class="display-3 pb-4">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <%= f.submit "Reset Password", class: "btn btn-success mt-3" %>
    <% end %>

    <div class="mt-5 mb-5">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
