<div class="row">
  <div class="col-5 offset-3">
    <h2 class="display-3 pb-4">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-success mt-3" %>
    <% end %>

    <div class="mt-5 mb-5">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
