<%= form_for post, html: { multipart: true } do |f| %>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control", onchange: "javascript: updatePreview(this); " %>
    <%= f.hidden_field :image_cache %>
  </div>

  <img id="img_prev"/>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <%= f.submit "Save Post" , class: "btn btn-success" %>
<% end %>
