<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="insta-post">
        <%= image_tag @post.image.url, class: "img img-fluid wrap-img" %>
      </div>
    </div>

    <div class="col-4">
      <div class="post-meta">
        <%= link_to (image_tag @post.user.image.small_thumb.url, width: "40px", class: "img-circle"), profile_path(@post.user.username) %>
        <%= link_to @post.user.username, profile_path(@post.user.username), class: "text-dark" %>
      </div>

      <div class="post-details">
        <div class="comments-feed">
          <% if @post.description.present? %>
            <div class="row">
              <div class="col-sm-3 col-lg-2">
                <%= link_to (image_tag @post.user.image.small_thumb.url, width: "30px", class: "img-circle"), profile_path(@post.user.username) %>              </div>
              <div class="col-sm-8 col-lg-9">
                <strong><%= link_to @post.user.username, profile_path(@post.user.username), class: "text-dark" %></strong>
                <div class="message">
                  <%= simple_format @post.description %>
                </div>
                <p class="text-muted small"><%= time_ago_in_words @post.created_at %> ago</p>
              </div>
            </div>
          <% end %>
          <%= render 'posts/comments', post: @post %>
        </div>

        <div class="post-actions">
          <i class="fa fa-heart fa-2x post-like like-<%= @post.id %> <%= "active" if post_liked_by_user?(@post.id) %>" data-id="<%= @post.id %>"></i>
          <i class="fa fa-comment fa-2x post-comment"></i>
        </div>

        <p class="m-0"><strong id="post-<%= @post.id %>-likes"><%= @post.total_likes_count %>  <%= @post.total_likes_count == 1 ? 'like' : 'likes' %></strong></p>

        <p class="m-0 small text-muted"><%= time_ago_in_words(@post.created_at).upcase %> AGO</p>
      </div>

      <div class="comment-box">
        <%= form_for @comment do |f| %>
          <%= f.hidden_field :post_id, value: @post.id %>
          <div class="input-group">
            <%= f.text_field :comment, placeholder: "Add comment here...", class: "form-control post-comment" %>
            <div class="input-group-btn">
              <%= f.submit "Post", class: "btn btn-default float-right" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
