<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ingramstan</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %>

  <!-- Page content-->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= render 'layouts/notification', notification_type: alert %>
        <%= render 'layouts/notification', notification_type: notice %>

        <%= yield %>
      </div>
    </div>
  </div>

  <%= render partial: 'layouts/footer' %>
  </body>
</html>
