<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ingramstan</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render partial: 'layouts/header' %>

  <%= render 'layouts/notification', notification_type: alert %>

  <%= render 'layouts/notification', notification_type: notice %>

  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 pt-4">
          <%= yield %>
        </div>
      </div>
    </div>
  </section>

  <%= render partial: 'layouts/footer' %>
  </body>
</html>
</html>
